<header>
  <div></div>
  <h1>Kalah</h1>
  <div class="help-button">

    <!-- Angular Material does not support:
    - switching the text off when the screen is too big
    - having a mini-fab button with text
    so I did it manually
    -->

    <button *ngIf="!extended" mat-mini-fab [matMenuTriggerFor]="menu" class="help-button-colored" matTooltip="Menu" aria-labelledby="Menu">
        <mat-icon fontIcon="more_vert"></mat-icon>
    </button>

    <button *ngIf="extended" mat-flat-button [matMenuTriggerFor]="menu" class="help-button-colored">
        <mat-icon fontIcon="more_vert"></mat-icon>
        <span>Menu</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/tutorial">
        <mat-icon>menu_book</mat-icon>
        <span>Kalah Rules</span>
      </button>
      <button mat-menu-item routerLink="/license">
        <mat-icon>attribution</mat-icon>
        <span>Credits</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info-outline</mat-icon>
        <span>About this page</span>
      </button>
    </mat-menu>
  </div>
</header>
