header {
    text-align: center;
    background: var(--purple);
}

h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: var(--pink);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}