.board {
    margin: 0 auto;
    display: grid;
    background: #2e0b05;
    max-height: 60vh;
}

.store-container {
    grid-row: span 2;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    text-align: center;
}

.south-store {
    flex-direction: column;
}

.north-store {
    flex-direction: column-reverse;
}

button {
    margin-left: 1rem;
    margin-right: 1rem;
}