@if(boardState && boardState(); as board){
  <div class="board" [ngStyle]="{'grid-template-columns' : 'repeat(' + (board.size+2) + ', 1fr)'}">

    <div class="store-container south-store">
      <app-pit [stones]="board.northStore" aspectRatio="2/3"/>
      <p> Player North </p>
    </div>


    @for (i of getIndexArray(board.size); track i) {
      <app-pit [stones]="board.northPits[board.size - i - 1]" (click)="move(board.size - i - 1, false)"/>
    }

    <div class="store-container north-store">
      <!-- will be reversed by flexbox reverse-->
      <app-pit [stones]="board.southStore" aspectRatio="2/3"/>
      <p> Player South</p>
    </div>

    @for (stones of board.southPits; track i; let i = $index) {
      <app-pit [stones]="stones" (click)="move(i, true)"/>
    }

  </div>
}
