.board {
    margin: 0 auto;
    display: grid;
    gap: 15px;
    padding:15px;
    background: #2e0b05;
    max-height: 60vh;
}

.store-container {
    grid-row: span 2;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    text-align: center;
}

.north-store {
    margin-right: 15px;
    flex-direction: column;
}

.south-store {
    margin-left: 15px;
    flex-direction: column-reverse;
}

button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.store-text {
    // ignore the gap 15px
    margin-left: -15px;
    width: calc(100% + 30px);
}

p {
    max-height: 0; // don't mess with the size of other things
}

.north-store p {
    margin-bottom: 50%;
}