@use '@angular/material' as mat;

@include mat.core();

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin-top: auto;
}