<app-centered-card>

    <h1>About</h1>

    <p>
      I am a Computer Science student at Friedrich-Alexander Universität (FAU) who is interested in software development, AI, and game programming. 
      I am currently a working student at a software company in Nuremberg, where I do web development using <strong>Angular</strong> and <strong>Spring Boot</strong>. 
      Creating this website was a fun challenge that allowed me to combine my interests in web technologies and game AI.
    </p>

    <h2>Kalah and Stickfish</h2>
    <p>
      <strong>Kalah</strong> is a two-player strategy board game, where players distribute stones across pits to capture points.
      At FAU, we had a Kalah tournament in which my program, <strong>Stickfish</strong> (written in Java), secured <strong>second place</strong>. 
      The first-place winner was a C++ program, which inspired me to rewrite Stickfish in C++, making it even stronger.
    </p>

    <h2>Tech Stack</h2>
    <p>
      This game is built using <strong>Angular</strong> for the frontend and <strong>WebAssembly</strong> for Stickfish. 
      The C++ Code of Stickfish is compiled to WebAssembly, meaning the engine runs entirely in your browser without needing a server connection.
    </p>

    <p>
        This website is hosted on <strong>GitHub Pages</strong> and the github repository is public. You can find the code
        <a href="https://github.com/IngoSternberg/kalah/" target="_blank">
            here
        </a>
        and it is licensed under the MIT License.
    </p>

    <h2>Contact</h2>
    <p>
      If you encounter any bugs, have suggestions, or want to reach out, feel free to contact me at
      <a href="mailto:sungonogi@gmail.com">sungonogi&commat;gmail.com</a>.
    </p>

</app-centered-card>
