<app-centered-card>

    <h1>How to Play</h1>

    <p>
      Kalah is a two-player strategy game played on a board consisting of two rows of pits and two larger pits,
      one at each end, called stores. Each player controls one row of pits and the store on their right. The goal of
      the game is to collect more points in your store than your opponent.
    </p>

    <h2>Gameplay</h2>
    <p>
      Each pit begins with an equal number of stones, and the stores are empty. Players take turns picking all stones
      from one of their pits and distributing them counterclockwise into pits and stores, skipping the opponent's
      store.
    </p>

    <h2>Special Moves</h2>
    <ul>
      <li>
        <strong>Extra Move:</strong> If the last stone lands in the player's own store, they get an additional turn.
      </li>
      <li>
        <strong>Capture:</strong>
        If the last stone lands in an empty pit on your side, and the opposite pit holds
        stones, you capture all stones from both pits and place them in your store.
      </li>
    </ul>

    <h2>End of the Game</h2>
    <p>
      The game ends when one player's pits are empty. The remaining stones in the opponent’s pits go to their store. The
      player with the most stones in their store wins.
    </p>

</app-centered-card>