a {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none; // no underline
}

a:hover {
    background-color: #0056b3; /* Darker background on hover */
}
