<div class="board" [ngStyle]="{'grid-template-columns' : 'repeat(' + (boardState.size+2) + ', 1fr)'}">

    <div class="store-container south-store">
        <app-pit [stones]="boardState.northStore" aspectRatio="2/3"/>
        <p> Player North </p>
    </div>

    @for (stones of boardState.northPits.reverse(); track i; let i = $index) {
        <app-pit [stones]="stones" (click)="move(boardState.size - i - 1, false)"/>
    }

    <div class="store-container north-store">
        <!-- will be reversed by flexbox reverse-->
        <app-pit [stones]="boardState.southStore" aspectRatio="2/3"/>
        <p> Player South</p>
    </div>

    @for (stones of boardState.southPits; track i; let i = $index) {
        <app-pit [stones]="stones" (click)="move(i, true)"/>
    }

</div>
