<form [formGroup]="form">
  <button mat-mini-fab (click)="decrement()"
          [disabled]="form.controls['number'].hasError('pattern') || form.value['number'] <= min">
    <mat-icon>arrow_downward</mat-icon>
  </button>

  <mat-form-field appearance="outline" class="custom-input">
    <mat-label> {{ label }}</mat-label>
    <input matInput
           formControlName="number"
           [maxlength]="Math.floor(Math.log10(max)) + 1"
    >
    <!-- Error messages, only show one at a time -->
    <mat-error>
      @if (form.controls['number'].hasError('required')) {
        Field is required
      } @else if (form.controls['number'].hasError('pattern')) {
        Only numbers allowed
      } @else if (form.controls['number'].hasError('min')) {
        The number must be at least {{ min }}
      } @else if (form.controls['number'].hasError('max')) {
        The number cannot exceed {{ max }}
      }
    </mat-error>

  </mat-form-field>

  <button mat-mini-fab (click)="increment()"
          [disabled]="form.controls['number'].hasError('pattern') || form.value['number'] >= max">
    <mat-icon>arrow_upward</mat-icon>
  </button>

</form>
