form {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.custom-input {
    background: #352c31;
    width: 140px;
    height: 56px;
}

// remove default padding
.custom-input .mat-form-field-wrapper {
    padding: 0;
}
