$radius : 10px;

.outer-pit {
    background: #902424;
    margin: 15px;
    border-radius: $radius ;
}

.pit {
    border-radius: $radius ;

    aspect-ratio: 1 / 1;

    position: relative; // allows clicks through the stones to be detected
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.twoThreeAspectRatio {
    aspect-ratio: 2 / 3;
}

.hoverEffect:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6); /* Glow effect */
}

p {
    z-index: 100 !important; // be in front of the stones
    pointer-events: none; // still be click through

    height: 40px;
    width: 40px;

    margin: 0; // remove default margin

    border-bottom-left-radius: $radius ;

    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    // transparent dark background color
    background: rgba(0, 0, 0, 0.5);
}