<div class="outer-pit" [ngStyle]="{'aspect-ratio': outerAspectRatio, 'flex-direction': storeFlexDirection}">
  <div class="middle-pit">
    <div class="inner-pit" #innerPit
         [ngStyle]="{'aspect-ratio': innerAspectRatio}"
         [ngClass]="{'hoverEffect' : hoverEffect}">
      <div class="text-area" #stoneCount>
        <p #p>{{ stones }}</p>
      </div>
    </div>
  </div>

  @if (store) {
    <p #p>
      Player {{ south ? 'South' : 'North' }}<br>
      {{ playerType }}
    </p>
  }
</div>
