$radius : 10px;

.outer-pit {
    background: #6e2516;
    margin: 15px;
    border-radius: $radius ;
}

.pit {
    border-radius: $radius ;

    aspect-ratio: 1 / 1;

    position: relative; // allows clicks through the stones to be detected
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.twoThreeAspectRatio {
    aspect-ratio: 2 / 3;
}

.hoverEffect:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6); // Glow effect
}

.text-area {
    z-index: 1; //Ensure it's in front of the stones
    pointer-events: none; // Click-through behavior

    // Use min to adjust between 40px or half of the parent
    width: min(40px, 50%);
    height: min(40px, 50%);

    border-bottom-left-radius: $radius;

    // Transparent dark background
    background: rgba(0, 0, 0, 0.5);

    // Center the text inside
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 25px;
}