/* You can add global styles to this file, and also import other style files */

// CSS reset because of inconsistencies between browsers and weird default margins/...
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// global variables
:root {
    --bg-purple: #800080; // Purple
    --bg-blue: #58738e; // Slate blue
}
