/* You can add global styles to this file, and also import other style files */

// global variables
:root {
    --purple: #810081; // Purple
    --dark-purple: #5f00c0;
    --blue: #58738e; // Slate blue
    --gray: #2c2c2c;
    --black: #161215;
    --pink: #ffabdc;
}

html, body {
    height: 100%;
    background: var(--black);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
