// global variables
:root {
    --purple: #a829c3; 
    --dark-purple: #5f00c0;
    --blue: #58738e;
    --gray: #2c2c2c;
    --black: #161215;
    --pink: #ffabdc;
}

/* standard variables don't work for @media queries */
$max-height-threshold: 400px;
$max-width-threshold: 600px;

html, body {
    height: 100%;
    background: var(--black);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
