@import '../../../styles.scss';

$padding : min(1.5vw, 20px);
.outer-board {
    width: calc(100vw - 2 * $padding);
    background: var(--gray);
    padding: $padding;
}

@media (max-width: $max-width-threshold) {
    .outer-board {
        width: 100vw;
        background: none;
        padding: 0;
    }

}

.game-button-container {
    // set it to have the same distance from the left as the board inside the outer-board
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

@media (max-height: $max-height-threshold) {
    .game-button-container {
        margin-top: 10px;
        margin-left: 10px;
    }
}