.pit {
    background: #a54901;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.stone {
    height: 30px;
    background: #0c0b0b;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 5px;
}
