.center {
    margin: 32px 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-container {
    max-width: max(50%, 800px);
}

mat-card {
    padding: 32px;
}

button {
    margin-top: 20px;
}
