<div class="flex flex-row justify-around">

  <div class="flex flex-col justify-around">
    <pit-component></pit-component>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row">
      <div *ngFor="let pit of board_size">
        <pit-component></pit-component>
      </div>
    </div>

    <div class="flex flex-row">
      <div *ngFor="let pit of board_size">
        <pit-component></pit-component>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-around">
    <pit-component></pit-component>
  </div>

</div>

